* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
/* ============== Navbar Top Secction ======================= */

body {
    flex-direction: row;
}

a {
    text-decoration: none;
    color: white;
}

/* Navbar  */
header {
    display: flex;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--navbar-background-color);
    height: 60px;
}

.navbar_main {
    display: flex;
}

/* logo */

.logo {
    margin-top: 1rem;
    margin-left: 2.5rem;
    width: 12rem;
}

/* Address */

.address_container {
    display: flex; 
    margin-top: 1.5rem;
    margin-right: 4rem;
    margin-left: 3rem;
}

.address-name {
    color: var(--font-color-gray);
    font-size: var(--font-small);
}

.address-postal {
    color: var(--font-color-white);
    font-size: var(--font-small);
}

.uil {
    margin-right: 0.5rem;
    color: var(--font-color-white);
    font-size: var(--font-medium);
}

/* Search bar */
.search-bar {
    margin-top: 1.5rem;
}
.search-select {
    margin-left: 0;
    padding-top:7px;
    padding-bottom: 7px;
    font-size: var(--font-smaller);
}

.search-bar .searchfield {
    padding-top:7px;
    padding-bottom: 7px;
    padding-right: 80rem;
}

.search-submit {
    color: var(--font-color-gray);
    background-color: var(--background-color-orange);
}

.uil-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Language change */
.us-flag {
    margin-top: 1.5rem;
    margin-left: 5rem;
    width: 30px;
}

.arrow-down {
    width: 15px;
    margin-bottom: 0.8rem;
}

/* Sign in*/
.sign-in {
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.upper_sign-in {
    color: var(--font-color-white);
}

.lower_sign-in {
    color: var(--font-color-white);
    font-size: var(--font-small);
}

/* Refund & Order */
.returns-order {
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.returns {
    color: var(--font-color-white);
}

.order{
    color: var(--font-color-white);
    font-size: var(--font-small);
}

/* Cart */

.cart {
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.cart-img {
    width: 40%;
}

.cart-text {
    /* margin-bottom: ; */
    color: var(--font-color-white);
    font-size: var(--font-medium);
}

/* ============== Navbar bottom Secction ======================= */

.subnav {
    display: flex;
    width: 100%;
    background-color: var(--subnav-background-color);
}

.subnav_main {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 3rem;
}

.all-text {
    margin-bottom: ;
}

.hamburger-menu {
    margin-bottom: .5rem;
    width: 40%;
}
.subnav-link{
    margin-left: 2rem;
    color: var(--font-color-white);
    font-size: var(--font-small);
}

.arrow-down2 {
    width: 10%;
    margin-top: rem;
}


/* ============== Sponsor Ad Secction ======================= */

/*  */